PORT=5000
MONGO_URL=mongodb://harshakummetha62_db_user:a8oUPFmMa0rhQgdP@ac-py4pdjy-shard-00-00.vjt6kqh.mongodb.net:27017,ac-py4pdjy-shard-00-01.vjt6kqh.mongodb.net:27017,ac-py4pdjy-shard-00-02.vjt6kqh.mongodb.net:27017/smart_expense_tracker?ssl=true&replicaSet=atlas-oc62hz-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_string
EMAIL_USER=harshakummetha62@gmail.com
EMAIL_PASS=ezxw ubut qvgb ifeb